
// MAIN THEME COLORS
:root {
    --background-main: #18191b;
    --font-main-color: rgba(255, 255, 255, 0.87);
    --task-background-color: #272829;
    --shadow-color: #2a2a2d;
    --interface-color: #2e3034;
}

[data-theme="light"] {
    --background-main: #f8fcff;
    --font-main-color: black;
    --task-background-color: #fbfcfd;
    --shadow-color: #cbe3fb;
    --interface-color: #9ee1e563;
}

//OTHER COLORS 
$turquoise:  #33d0b9; //СЕГОДНЯ А ТАК ЖЕ ВЛИЯЕТ НА ТЕМУ ПРИЛОЖЕНИЯ                          //Бирюзовый
$violet: #9b81d3;    //БУДУЩЕЕ                //Фиолетовый
$violetblue:  #a4c8fa; //ПРОШЛОЕ               //Фиолетово-голубой