//SIZES
$font-size-main_title: clamp(0.938rem, 0.563rem + 1.5vw, 1.5rem);
$font-size-title: clamp(0.938rem, 0.813rem + 0.5vw, 1.125rem); //14px => 18px
$font-size-big-normal: clamp(0.75rem, 0.667rem + 0.33vw, 0.875rem); //12px => 14px
$font-size-normal: clamp(0.625rem, 0.458rem + 0.67vw, 0.875rem); //10px => 14px
$font-size-mini: clamp(0.469rem, 0.385rem + 0.33vw, 0.594rem); //7.5 => 9.5




