//colors

$background-black: black;
$font-main-color: #F5F5F5;
$btn-font-color: orange;
$task-background-color: #101010;


// fonts
$font-size-main_title: clamp(0.875rem, 0.458rem + 1.67vw, 1.5rem);
$font-size-title: clamp(1rem, 0.917rem + 0.33vw, 1.125rem);
$font-size-normal: clamp(0.75rem, 0.667rem + 0.33vw, 0.875rem);
$font-size-mini: clamp(0.45rem, 0.354rem + 0.38vw, 0.594rem);
