:root {
  --color-dark: #06030f;
  --color-dark-alt: #231e33;
  --color-background: rgb(6, 4, 15);
  --color-light: #ffffff;
  --color-light-ghost: #ffffffc5;
  --color-accent: #77be1d;
  --color-accent-alt: #78be1dad;
  --color-gray: #3d394a;
  --color-gray-alt: #63686d;

  --border-ui: 2px solid rgba(255, 255, 255, 0.1);
  --border-green: 1px solid #77be1d;
  --border-radius: 10px;
  --border-radius-small: 5px;
  --border-radius-large: 45px;

  --font-family-base: "Manrope", sans-serif;

  --container-width: 1450px;
  --container-padding-x: 10px;

  --section-padding-y: 70px;

  --input-height: 66px;
  --button-height: 63px;

  --transition-duration: 0.2s;

  @include desktop {
    --section-padding-y: 50px;
  }

  @include mobile {
    --section-padding-y: 30px;
  }
}
